/* MIX */

.text-white{
  color:#fff;
}



/* struttura header */

.top-header{
  background-color: #2C3E50;
  text-transform: uppercase;
  padding: 20px 0;

}
.menu-link{
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.top-header ul li{
  display: inline-block;
  padding-left:20px;
}
.logo{
  color:#fff;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  pointer-events: none;
}
 .top-header a:hover{
  text-decoration: none;
  color:#1ABC9C;
}

.float_right{
  float:right;
}

.top-header button{
  margin-top:6px;
}

.hero{
  background-color: #1ABC9C;
  padding: 10px 0;
}
.img-hero{
  max-width: 600px;
  margin: 0 auto;
}
.img-hero img{
  width:100%;
}
/* struttura header */

/* struttura main */

/* struttura section portfolio */

.foto{
  background-color:red;
  height:100px;
  width:100px;
  border: 1px solid black;
  margin: 10px auto;
  line-height: 100px;
  text-align: center;
  color:#fff;
  font-size: 36px;
}
/* /struttura section portfolio */

/* struttura section about */

.text-about{
  max-width: 600px;
  margin: 0 auto;
}
.about{
  background-color: #1ABC9C;
  color:#fff;
}
/* /struttura section about */

/* struttura section contact me */
.form{
  max-width: 600px;
  margin: 0 auto;
}
/* /struttura section contact me */

/* /struttura main */

/* struttura footer */

.top-footer{
  background-color: #282C34;
  color:#fff;
  padding: 20px 0;
}

.bottom-footer{
  background-color: #1A252F;
  color:#fff;
  padding-top: 10px;
}

/* /struttura footer */
