/* struttura header */

.top-header{
  background-color: #2C3E50;
}

.menu{
  text-align: right;
}
.top-header .container p{
  color:#fff;
  padding: 25px 0;
}

.hero{
  background-color: #1ABC9C;
  padding: 10px 0;
}
.img-hero{
  max-width: 400px;
  background-color: red;
  margin: 0 auto;
}
.img-hero img{
  width:100%;
}
/* struttura header */

/* struttura main */

/* struttura section portfolio */



.foto{
  background-color:red;
  height:100px;
  width:100px;
  border: 1px solid black;
  margin: 10px auto;
}
/* /struttura section portfolio */

/* struttura section about */

.text-about{
  max-width: 600px;
  margin: 0 auto;
}
.about{
  background-color: #1ABC9C;
  color:#fff;
}
/* /struttura section about */

/* struttura section contact me */
.form{
  max-width: 600px;
  margin: 0 auto;
}
/* /struttura section contact me */

/* /struttura main */


/* MIX */

.t-centre{
  text-align: center;
}
